<!DOCTYPE html>
<html>
<head>
    <title>All Students</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>All Students</h1>
    <table border="1">
        <tr>
            <th>Student ID</th><th>Name</th><th>Email</th><th>Course</th>
        </tr>
        <% students.forEach(student => { %>
            <tr>
                <td><%= student.student_id %></td>
                <td><%= student.name %></td>
                <td><%= student.email %></td>
                <td><%= student.course %></td>
            </tr>
        <% }) %>
    </table>
</body>
</html>