<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel= "stylesheet" href= "/style.css">
</head>
<body>
    <!-- Logo -->
     <div style="text-align:center; margin-top:20px;">
        <img src="/logo.png" alt="Logo" style="width: 150px;">
     </div>
     <h1>Welcome to Precision College Online Attendance</h1>
     <p>Login as Admin, Teacher, Student or Attendance.</p>
     <a href="/admin-login">Login as Admin</a>
     <a href="/teacher-login">Login as Teacher</a>
     <a href="/student-login">Login as Student</a>
     
 </body>
</html>
