<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/student-dashboard">Dashboard</a></li>
                
                <li><a href="/students-attendance-record" class="btn">View Attendance</a></li>
                
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Welcome to the Student Dashboard</h1>
        <!-- Displaying the message if exists -->
        <% if (message) { %>
            <p><%= message %></p>
        <% } %>


        <!-- Dashboard Content for Student -->
        <div class="dashboard-content">
            <p>Welcome, <%= student.name %>!</p>
            <p>Your total attendance entires: <%= totalAttendance %></p>
            <p>Student-specific content goes here.</p>
        </div>
    </main>
    <script src="/formValidation.js"></script>
</body>
</html>